/*body{
	background-color: #F7FFF9;
	cursor: default;
}

#logo{
	width: 5%;
	height: 70%;
	top: 20%;
	left: 3%;
	position: relative;
	display: inline-block;
}

a{
	text-decoration: none;
	color: #000;
}

nav {
	position: relative;
	background-color: #0AB632;
	border-radius: 5px;
	height: 50px;
	font-size: 20px;
	font-style: oblique;
	box-shadow: 0px 8px 5px #888888;
}

ul li {
	display: inline-block;
	text-align: center;
	height: 35px;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;

}

ul li:hover{
	background-color: #139B33;
	font-weight: bold;
}

ul{
	display: inline;
	margin-left: 50px;
}

nav p{
	position: absolute;
	display: inline;
	right: 100px;
	top: -5px;
	cursor: default;
}

nav #lLogout{
	position: absolute;
	right: 50px;
	top: 10px;
	height: 30px;
	width: 30px;

}

#logout{
	height: 30px;
	width: 30px;
}*/

/*Keyframes*/
#snow{
	background: none;
	background-image: url('../img/s1.png'), url('../img/s2.png'), url('../img/s3.png');
	left: 0;
	position: absolute;
	top: 0;
	width: 99%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	


/*CSS Moises Ortega	*/
a{
	text-decoration: none;
	color: #000;
}

nav{
	position: fixed;
	height: 100%;
	width: 20%;
	/*background-color: #11ff49;*/
	top: 0;
	left: 0;
	text-align: center;
}

#logo{
	width: 90%;
	margin-top: 3%;
}

nav > a{
	height: auto;
	width: 100%;
}

li:hover{
	background-color: #00a025;
}

#logout{
	width: 50px;
	display: inline;
}

li {
	width: 100%;
	display: block;
	background-color: #01b22b;
	cursor: pointer;
	margin-top: 5%;
	padding: 5px;
	border-radius: 3px;
}

ul{
	position: relative;
	left: -12%;
	text-align: center;
}

