section a{
	text-decoration: none;
	color: #000;
}

.consulta{
	position: relative;
	height: auto;
	width: 50%;
	left: 100px;
	margin-top: 20px;
	border-radius: 5px;
	text-align: justify;
	border: 1px solid #000;
	box-shadow: 5px 8px 5px #888888;
	background-color: #E9E9E9;
}

.consulta .descripcion{
	position: relative;
	margin: 20px 20px 0px 20px;
	font-size: 25px;
}

.consulta .nombre{
	position: relative;
	width: 200px;
	left: 70%;
}

.consulta:hover{
	background-color: #BCBBBB;
}