.buttons{
	position: absolute;
	right: 200px;
	top: 100px;
	display: inline-block;
}

form{
	position: relative;
	top: 100px;
	left: 100px;
}

textarea{
	width: 50%;
	height: 100px;
	resize: none;
	font-size: 20px;

}

input{
	margin-bottom: 10px;
	margin-top: 10px;
}

.lOpciones {
	position: relative;
	margin-left: 50px;
}

.fecha{
	width: 100px;
	margin-right: 10px;
	height: 12px;
}