.buttons{
	position: absolute;
	top: 5%;
	left: 40%;
	display: inline-block;
}

.oButtons {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.oButtons:hover {
    background-color: #45a049;
}

.borrarButtons {
    background-color: #4CAF50;
    color: white;
    padding: 5px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.borrarButtons:hover {
    background-color: #45a049;
}

form{
	position: relative;
	top: 100px;
	left: 100px;
}

textarea{
	width: 50%;
	height: 100px;
	resize: none;
	font-size: 20px;
}

input{
	margin-bottom: 10px;
	margin-top: 10px;
}

.lOpciones {
	position: relative;
	margin-left: 50px;

}

.fecha{
	width: 80px;
	margin-right: 10px;
	height: 12px;
	font-size: 11px;
	text-align: center;
}

.iOpciones{
	margin-right: 20px;
}