#principal{
	display: none;
}

nav{
	background: cyan;
}

form {
	position: absolute;
	left: 40%;
	top: 100px;
	width: 220px;
	height: 150px;
	padding: 10px 10px 10px 10px;
	border: 2px solid black;
}
label{
	width: 100px;
	height: 15px;
	margin-top: 100px;

}

input {
	width: 200px;
	height: 12px
}

.submit{
	height: 30px;
	width: 100px;
	margin-top: 10px;
}

#consulta{
	position: relative;
	top: 200px;
}